<div id="post-preview">
  {{# this }}
    <article class="story" data-id="{{ ID }}">
      <header class="story__header" role="banner">
        <h1 class="story__heading">{{{ title }}}</h1>
      </header>
      <div class="meta">
        {{# terms.category }}<a class="meta__tag" href="/{{ terms.category }}/{{ slug }}">{{{ name }}}</a>{{/ terms.category }}
        <time class="meta__time" pubdate datetime="{{ formatDate date "%Y-%m-%dT%H:%M:%S%z" }}">{{ formatDate date "%B %-d, %Y" }}</time>
      </div>
      <div class="story__content">
        {{{ content }}}
      </div>
    </article>
  {{/ this }}
</div>
